* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#showBig {
    padding: 80px 0 0 0;
    position: relative;
    width: 100%;
    /*display: none;*/
}

.item img {
    width: 100%;
    height: 80px;
}

/*顶端条*/
.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(00, 90, 00);
    position: fixed;
    z-index: 10;
    height: 80px;
    width: 100%;
}

.logo {
    padding: 0 5px;
}

.logo1 img {
    height: 30px;
}


/*导航*/
.navi {
    position: relative;
    height: 80px;
}

.nav-title a {
    font-size: 20px;
    line-height: 80px;
    display: block;
    color: white;
    padding: 0 10px ;
    text-decoration: none;
    transition: all 0.5s;
}

/*导航底下的列表*/
.nav-list {
    position: absolute;
    display: none;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.9;
}

.nav-list ul {
    list-style: none;
}

.nav-list a {
    display: block;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.5s;
}

.navi:hover .nav-title a {
    color: rgb(00, 90, 00);
    background-color: white;
}

.navi:hover .nav-list {
    display: block;

}

.nav-list a:hover {
    background: rgb(00, 90, 00);
    color: white;
}
/*登录*/
.fab {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 20px;
    margin-left: auto;
}

.fab-btn i {
    color: white;
    font-size: 40px;
    transition: all 0.5s;
}

.fab:hover .fab-btn i {
    transform: rotate(360deg);
}

.showt {
    position: relative;
}

.showc {
    position: relative;
    display: flex;
    flex-direction: row;
}

.title {
    margin: 20px 0 0 20px;
    height: 40px;
}

.showbase {
    padding: 10px;
    margin: 25px;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.header {
    width: 100%;
}

.header img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 50%;
}

div.showbase:hover {
    box-shadow: 0 0 10px gray;
    transition-duration: 1s;
    transform: translateY(-8px);
}

div.showbase:hover img {
    transition-duration: 1s;
    opacity: 100%;
}

.content p {
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: row;
}

.title-x {
    margin: 25px;
    font-size: 30px;
    /*border: black 1px solid;*/
}

.newscontext {
    width: 50%;
}

.newsli {
    list-style-type: none;
}

.footer img {
    width: 100%;
}

.footbar {
    flex-direction: row;
    align-items: center;
    background: rgb(00, 90, 00);
    z-index: 10;
    height: 60px;
    width: 100%;
    font-size: 20px;
}

.footbar-c {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
}
