.banner img {
    width: 100%;
    opacity: 70%;
}
.nei{
    display: flex;
    flex-direction: row;
}
.lefe-bar {
    width: 200px;
    /*border: 1px salmon solid;*/
    position: relative;
    left: 110px;
    top: -40px;
    display: flex;
    flex-direction: column;
}

.left-title {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 200px;
    /*border: 1px salmon solid;*/
    justify-content: center;
    align-items: center;
    background-color: rgba(00, 100, 00, 0.7);
}

.left-title div {
    color: white;
    font-size: 20px;
    /*border: 1px salmon solid;*/
}

.lefe-bar ul {
    list-style: none;
}

.lefe-bar li a {
    display: block;
    background-color: gainsboro;
    padding: 30px 45px;
    text-decoration: none;
    transition: all 0.5s;

}

.lefe-bar li a span {
    vertical-align: middle;
    color: rgb(00, 100, 00);
    font-size: 20px;
}

.lefe-bar a:hover {
    background: rgba(00, 100, 00, 0.7);
    transform: translateX(8px);

}

.lefe-bar a:hover span {
    color: white;
}
.right-content{
    position: relative;
    left: 150px;
    /*border: 1px salmon solid;*/
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-title{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}
.right-txt p{
    text-indent: 2em;
}